@font-face {
    font-family: bai;
    src: url("fonts/BaiJamjuree-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: bai;
    src: url("fonts/BaiJamjuree-Regular.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: bai;
    src: url("fonts/BaiJamjuree-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%)
}

html {
    margin: 0;

}

body{
    font-family: 'bai', sans-serif;
    font-size: 18px;
    color: var(--dark-grayish-blue);
    line-height: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    position: relative;
}

h1 {
    font-size: 2rem;
}

h1, h2, h3 {
    font-weight: 600;
}

p {
    font-weight: 300;
    font-size: .9rem;
    color: var(--grayish-blue);
}
div {
    margin-bottom: 2rem;
}
.image {
    width: 40%;
}

.logo {
    width: 5%;
}
section {
    padding: 60px 20px;
    box-sizing: border-box;
}

/* ------ SHARED DISPLAY SETTING ------ */

.logo-grid, .feature-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.text-content, .feature-grid {
    margin-left: auto;
    margin-right: auto;
}

/* ------ BUTTONS ----- */
button {
    font-size: .9rem;
    font-weight: 600;
    min-width: 250px;
    color: hsla(0, 0%, 95%, 80%);
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
}
.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
}

.button-group button:first-of-type {
    background-color: var(--strong-cyan);
    border-bottom: 2px solid hsla(171, 66%, 39%);
    box-shadow: 2px 2px 10px 2px hsla(171, 66%, 44%, 40%);;
}

.button-group button:last-of-type {
    background-color: var(--light-blue);
    border-bottom: 2px solid hsl(233, 100%, 64%);
    box-shadow: 2px 2px 10px 2px hsla(233, 100%, 69%, 40%);;
}

button:hover {
    background-image: linear-gradient(hsla(0, 0%, 100%, 20%), hsla(0, 0%, 100%, 20%));
}

/* ------ SECTIONS ------ */
.text-content {
    width: 40%;
}

.text-content h2 {
    font-weight: 600;
    margin: 0;
}

/* ------ INTRODUCTION SECTION ------ */
#introduction{
    height: 100vh;
    background-image: url("images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
}

#introduction .text-content {
    width: 28%;
}

/* ------ HIGHLIGHT SECTION ------ */
#highlight {
    padding-left: 0;
    padding-right: 0;
}

.content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#highlight img {
    margin-right: 3rem;
}
.highlight-items {
    width: 25%;
    text-align: left;
}

/* ------ FEATURES ------ */

.feature-grid {
    width: 70%;
}
.feature-item {
    width: 30%;
}

    /* ------ COMPANIES ------ */
#companies {
    padding-bottom: 20px;
}



.company-logo {
    width: 10%;
}

/* ------ FOOTER ------ */

footer {
    background-color: hsl(220, 18%, 97%);
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer img {
    width: 50px;
    height: 50px;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    padding-bottom: 1rem;
}

li:hover, i:hover {
    color: var(--strong-cyan);
}

#social-media-buttons {
    margin: 2rem;
}

i {
    padding: 1rem;
}

/* ------ MEDIA QUERIES ------ */

@media (max-width: 1200px) {
    .text-content, #introduction .text-content,  .feature-item  {
        width: 40%;
    }
    .feature-grid {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}


@media (max-width: 768px) {
    .logo-grid {
        padding: 2rem;
        flex-direction: column;
    }
    .company-logo {
        width: 40%;
    }
    .content-row  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    #highlight img {
        margin: 0;
    }
    .text-content, #introduction .text-content, .feature-item {
        width: 70%;
    }
    .highlight-items {
        width: 60%;
        text-align: center;
    }

}

@media (max-width: 550px) {
    .button-group {
        flex-direction: column;
    }
    .logo-grid {
        padding: 2rem;
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }
    footer img {
        margin: 2rem;
    }
    .image {
        width: 90%;
    }
    .text-content {
        width: 80%;
    }
}